.movieWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.movieOverlay {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.return {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  margin-bottom: 16px;
  transition: color 0.2s;
}

.return:hover {
  color: #e7379e;
}

.movieUl {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 16px;
}

.movieLi {
  margin-right: 20px;
}

.movieLinkContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
}

.movieLink {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.2s;
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.movieLink:last-child {
  margin-right: 0;
}

.movieLink:hover {
  color: #e7379e;
  background-color: #e7379e;
  color: #fff;
}
